#aw {
 
}

.aw {
background-color: brown;
}

.mme {
    background-color: darkblue;
}

.ipo {
    background-color: green;
}

.ipo2 {
    background-color: gray;
}


.xl {
    background-color: cadetblue;
}

.tut {
    background-color: rosybrown;
}

.ofi {
    background-color: greenyellow;
}

.som {
    background-color: yellow;
}

.opt {
    background-color: darkgoldenrod;
}

.ang {
    background-color: darkkhaki;
}

.pati {
    background-color: hotpink;
}

.textColorWhite {
    color: white;
}

.textColorBlack {
    color: black;
}